MYSQL_ROOT_PASSWORD=your_root_password
DB_HOST=your_db_host  # only works inside docker containers, use 127.0.0.1 if connecting from outside the docker
MYSQL_DATABASE=your_mysql_database
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password